.tail-item {
    border: 1px solid transparent;;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px;
    -o-border-bottom-right-radius: 12px;
    -ms-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -o-border-top-left-radius: 8px;
    -ms-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 8px;
    vertical-align: top;
    background-color: white;
}

.tail-item.lightskyblue {
    border-top-color: #add8e6;
    border-left-color: #add8e6;
    border-right-color: #add8e6;
    border-bottom-color: #add8e6;
    box-shadow: lightskyblue 3px 3px 5px;
}
.tail-item.lightgrey,
.tail-item.lightgray {
    border-top-color: lightgrey;
    border-left-color: lightgrey;
    border-right-color: lightgrey;
    border-bottom-color: lightgrey;
    box-shadow: lightgrey 3px 3px 5px;
}

.tail-item img {
    max-height: 128px;
    max-width: 128px;
}

.action-icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
}
.graphic-button {
    border: 0px none;
    width: 38px;
    height: 38px;
}