.tail-item {
    border: 1px solid transparent;;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-color: #add8e6;
    border-left-color: #add8e6;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-bottom-right-radius: 12px;
    -o-border-bottom-right-radius: 12px;
    -ms-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -o-border-top-left-radius: 8px;
    -ms-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right-color: #add8e6;
    border-bottom-color: #add8e6;
    box-shadow: lightskyblue 3px 3px 5px;
    margin-bottom: 8px;
    vertical-align: top;
}

.tail-item img {
    max-height: 128px;
    max-width: 128px;
}